product-name: pivotal-mysql
network-properties:
  singleton_availability_zone:
    name: ((AZ_1))
  other_availability_zones:
  - name: ((AZ_1))
  - name: ((AZ_2))
  - name: ((AZ_3))
  network:
    name: pas
  service_network:
    name: services
product-properties:
  .properties.plan1_selector.active.az_multi_select:
    value:
    - us-central1-a
    - us-central1-b
    - us-central1-c
  .properties.plan2_selector:
    value: Inactive
  .properties.plan3_selector:
    value: Inactive
  .properties.backups_selector:
    value: GCS
  .properties.backups_selector.gcs.project_id:
    value: ((PROJECT_ID))
  .properties.backups_selector.gcs.bucket_name:
    value: ((PROJECT_ID))-mysql-backups
  .properties.backups_selector.gcs.service_account_json:
    value:
      secret: '"this_is": "dummy_json"'
errand-config:
  upgrade-all-service-instances:
    post-deploy-state: false
resource-config:
